body{
    background-color: white;
}

*{
    margin: 0;
}

.navbar{
    margin: 0;
    background: orangered;
    text-decoration: none;
    overflow: hidden;
    height: 100px;
}

.right{
    margin-top: 15px;
    display: flexbox;
    text-decoration: none;
    float: right;
    padding: 15px 13px;
    background: white;
    border: transparent;
    border-radius: 5px;
}

.left{
    float: left;
    padding: 15px 15px;
}