body{
    background-color: white;
}

.navbar{
    margin: 0;
    background: orangered;
    text-decoration: none;
    overflow: hidden;
    height: 100px;
}

.right{
    text-decoration: none;
    float: right;
    padding: 15px 15px;
    background: white;
}

.left{
    float: left;
    padding: 15px 15px;
}